CREDITS.txt
LICENSE.txt
choco.exe
choco.exe.ignore
choco.exe.manifest

.chocolatey
bin
config
extensions
helpers
lib-bad
lib-bkp
logs
redirects
tools

lib
!lib/tablacus/tools/addons
lib/tablacus/tools/addons/*/*.[0-9]*
