/TablacusExplorer/*
!index.md
!README.md
!addons
!addons_lib
!config
/TablacusExplorer/config/*
!addons.xml
/installer/*
!index.md
!README.md
!files.sh
/vivaldi/*
!index.md
!README.md
/tools/*
!index.md
!README.md
/VSCode/*
!index.md
!README.md
!SaveandRun.sh
!path_convert.sh
!SaveandRun.py
